<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>sispildora.servlet.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoServlet</servlet-name>
        <servlet-class>sispildora.servlet.EmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticacion</servlet-name>
        <servlet-class>sispildora.servlet.Autenticacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MotosServlet</servlet-name>
        <servlet-class>sispildora.servlet.MotosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesServlet</servlet-name>
        <servlet-class>sispildora.servlet.ClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioServlet</servlet-name>
        <servlet-class>sispildora.servlet.ServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>sispildora.servlet.MailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaServlet</servlet-name>
        <servlet-class>sispildora.servlet.VentaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoServlet</servlet-name>
        <url-pattern>/EmpleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticacion</servlet-name>
        <url-pattern>/Autenticacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MotosServlet</servlet-name>
        <url-pattern>/MotosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesServlet</servlet-name>
        <url-pattern>/ClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioServlet</servlet-name>
        <url-pattern>/ServicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/MailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaServlet</servlet-name>
        <url-pattern>/VentaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
